<%= form_for(@competition) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comp_name, "Competition Name" %><br>
    <%= f.text_field :comp_name %>
  </div>
  <div class="field">
    <%= f.label :points_flag, "Record Points %age" %><br>
    <%= f.check_box :points_flag %>
  </div>
  <div class="field">
    <%= f.label :sets_flag, "Record Sets %age" %><br>
    <%= f.check_box :sets_flag %>
  </div>
  <div class="field">
    <%= f.label :mvp_flag, "Record MVP points" %><br>
    <%= f.check_box :mvp_flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
